html,
body,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  background-image: url("#");
  background-size: #;
  background-position: #;
  background-repeat: no-repeat;
  position: relative;
}
body:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
